* {
    text-decoration: none;
    list-style: none;
  }

  :root{
    --darkest-color: #3C3C3C;
    --background-color:#eae7dc;
    --light-accent: #AF473C;
    --accent-color-3: #a46f72;
    --dark-accent:#AF473C;
    --borders-hover: #839181;
    --white: #eee;

   
}

  
  html, body, .wrapper {
    height: 100%;
    background-color: var(--background-color);
    font-family: 'Quattrocento', serif;
  }
  
  ul, li {
    margin: 0;
    padding: 0;
  }
  
  p {
    color: var(--darkest-color);
    font-size: 1.2em;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
  }
  
  a {
    color: var(--darkest-color);
    font-family: 'Quattrocento', serif;
  }
  
  a:hover {
    cursor: pointer;
  }
  
  header {
    height: 75px;
  }
  
  section {
    display: flex;
    height: calc(100vh - 150px);
  }
  
  footer {
    display: flex;
    height: 75px;
    justify-content: center;
  }
  
  footer p {
    font-size: 0.8em;
    align-self: center;
  }
  
  .hide {
    display: none;
  }
  
  .clear-padding {
    padding: 0 !important;
  }
  
  .align-center {
    align-items: center !important;
  }
  
  .marg-lr-1em {
    margin-left: 1em;
    margin-right: 1em;
  }
  
  .marg-clear-l {
    margin-left: 0 !important;
  }
  
  .bold {
    font-weight: 400;
  }

  .highlight {
    color: var(--accent-color-3);
  }
  
  .flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .tooltip_templates {
    display: none;
  }
  
  .tooltip-image {
    max-width: calc(100vw - 30px);
  }
  
  .pad-right-5 {
    padding-right: 5%;
  }
  
  .nav {
    display: flex;
    height: 100%;
    flex: 0 0 25%;
    align-items: center;
    justify-content: center;
  }
  
  .nav-link {
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    transition: font-size 0.3s ease;
    line-height: 1.4em;
    font-size: 1.2em;
    border-bottom: 3px solid var(--background-color);
  }
  
  .nav-link-open {
    font-size: 1.4em;
    color:var(--dark-accent);
  }
  
  .nav-list li {
    display: flex;
    justify-content: center;
  }
  
  .nav-list li:not(:last-child) {
    margin-bottom: 10%;
  }
  
  .nav-list a:hover {
    border-bottom: 3px solid var(--dark-accent);
  }
  
  .social {
    display: flex;
  }
  
  .social li {
    align-self: center;
    margin: 20px 20px 20px 0;
  }
  
  .main-content {
    box-sizing: border-box;
    display: flex;
    padding: 0 5% 0 5%;
    flex: 0 1 100%;
    border-left: 1px solid var(--borders-hover);
    overflow: auto;
    justify-content: center;
  }
  
  .nav-wrap {
    flex: 1;
  }
  
  .content-wrap {
    display: flex;
    height: 100%;
  }
  
  #define {
    justify-content: center;
  }
  
  .projects-wrap {
    display: flex;
    flex: 1 1 100%;
  }
  
  .projects {
    height: 100%;
    flex: 1 1 100%;
  }
  
  .project {
    display: flex;
    justify-content: center;
    flex: 1 1 100%;
  }
  
  .project-title {
    color: var(--darkest-color);
    flex: 1 1 auto;
    text-align: center;
  }
  
  .project-tech {
    margin-top: 19.200px;
  }
  
  .contact {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width: 50%;
    text-align: center;
  }

  .social-links {
    color: var(--darkest-color);
  }
  
  .social-links:hover {
    color: var(--dark-accent);
  }

  .button-wrap {
    display: flex;
    flex: 1 1 auto;
  }
  
  .btn-dark {
    font-family: 'Lato', sans-serif;
    color: var(--background-color);
    font-size: 1.2em;
    background: var(--accent-color-3);
    padding: 5px 16px;
    text-decoration: none;
    border: none;
    min-width: 134px;
    border: 2px solid var(--accent-color-3);
  }
  
  .btn-dark:hover {
    cursor: pointer;
    background-color: var(--borders-hover);
    border: 2px solid var(--borders-hover);
  }
  
  .btn-light {
    font-family: 'Lato', sans-serif;
    color: var(--accent-color-3);
    font-size: 1.2em;
    background: var(--background-color);
    padding: 5px 16px; 
    text-decoration: none;
    border: none;
    min-width: 134px;
    margin-left: 10px;
    border: 2px solid var(--accent-color-3);
  }
  
  .btn-light:hover {
    cursor: pointer;
    color: var(--background-color);
    background-color: var(--borders-hover);
    border: 2px solid var(--borders-hover);
  }
  
  .card {
    margin: 1em 1em 4em 1em;
    max-width: 800px;
    -webkit-box-orient: vertical;
    border: 1px solid var(--borders-hover);
  }
  
  .img-container {
    position: relative;
    width: 100%;
  }
  
  .view-project-hover {
    opacity: 0;
    color: white;
    background-color: rgba(131,145,129, 0.8);
    font-size: 3em;
    font-family: 'Lato', sans-serif;
    -webkit-transition: all .3s;
    transition: all .3s;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    text-align: center;
    left: 0;
    right: 0;
  }

  
  .img-container:hover > a > .view-project-hover {
    opacity: 1;
  }
  
 
  .img-container:hover .card-img-top {
    filter: brightness(.7);
    
    cursor: pointer;
  }

  
  .card-img-top {
    width: 100%;
    max-width: 800px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  
  .card-block {
    padding: 2em;
  }
  
  .card-title {
    margin: 0;
    color:  var(--dark-accent);
    font-size: 1.6em;
    font-family: 'Quattrocento', serif;
  }
  
  .card-footer {
    display: flex;
  }
  
  .card-actions {
    margin-right: 1em;
  }
  
  .tech-icon {
    color: var(--light-accent);
    height: 1.5em;
  }
  
  #project-4 > .card {
    margin-bottom: 1px;
  }
  
  /*** scroll bar ***/
  
  .main-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: var(--background-color);
  }
  
  .main-content::-webkit-scrollbar {
    width: 6px;
    background-color:var(--background-color);
  }
  
  .main-content::-webkit-scrollbar-thumb {
    background-color: var(--dark-accent);
  }
  
  @media all and (max-width: 800px) {
    header {
      display: none;
    }
    section {
      height: calc(100vh - 75px);
      flex-direction: column;
    }
    .nav {
      flex: 0 0 75px;
      margin: 0 5% 0 5%;
      border-bottom: 1px solid var(--borders-hover);
    }
    .nav-list {
      flex: 1 0 100%;
      display: flex;
    }
    .nav-list li {
      flex: 1 0 auto;
      align-self: flex-end;
    }
  
    .nav-link {
      color: var(--dark-accent);
      line-height: 1.4em;
      border-bottom: 3px solid var(--borders-hover);
      font-size: 1em;
    }
  
    .nav-link-open {
      font-size: 1.3em;
    }
  
    .nav-list li:not(:last-child) {
      margin-bottom: 0;
    }
  
    .btn-dark, .btn-light {
      width: auto;
      font-size: 1em;
      padding: 5px 10px;
      min-width: 100px;
    }
  
    .content-wrap {
      display: flex;
      height: 100%;
    }
  
    .main-content {
      flex: 0 1 100%;
      justify-content: flex-start;
      border-left: none;
    }
  
    .projects-wrap {
      margin-top: 5%;
    }
  
    .card-block {
      padding: 1em;
    }
  
  }
  